:root {
  --color-gray: #666666;
  --color-gray-dark: #1e1e40;
  --color-gray-light: #aaaaaa;
  --color-green: #43d000;
  --color-light: #ecf5ff;
  --color-violet: #5957db;
  --color-violet-light: #ccdaf4;
  --color-white: #ffffff;
}

/* font-family: 'Courier Prime', monospace; */
/* font-family: 'Montserrat', sans-serif; */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}
